name: ray-rs
env:
  DEBUG: napi:*
  APP_NAME: core
  MACOSX_DEPLOYMENT_TARGET: "10.13"
  CARGO_INCREMENTAL: "1"
on:
  push:
    branches:
      - main
    paths:
      - "ray-rs/**"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    working-directory: ray-rs
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
            build: bun run build:native --target x86_64-apple-darwin && bun run build:ts
          - host: windows-latest
            target: x86_64-pc-windows-msvc
            build: bun run build:native --target x86_64-pc-windows-msvc && bun run build:ts
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: bun run build:native --target x86_64-unknown-linux-gnu --use-napi-cross && bun run build:ts
          - host: macos-latest
            target: aarch64-apple-darwin
            build: bun run build:native --target aarch64-apple-darwin && bun run build:ts
    name: Build ${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.settings.target }}
      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.napi-rs
            .cargo-cache
            ray-rs/target/
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}
      - name: Install dependencies
        run: bun install
      - name: Build
        run: ${{ matrix.settings.build }}
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            ray-rs/${{ env.APP_NAME }}.*.node
            ray-rs/${{ env.APP_NAME }}.*.wasm
          if-no-files-found: error
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    needs:
      - build
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
        working-directory: ray-rs
      - name: Create npm dirs
        run: bun run napi create-npm-dirs
        working-directory: ray-rs
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ray-rs/artifacts
      - name: Move artifacts
        run: bun run artifacts
        working-directory: ray-rs
      - name: List packages
        run: ls -R ./npm
        working-directory: ray-rs
      - name: Publish
        working-directory: ray-rs
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
          npm config set provenance true
          if git log -1 --pretty=%B | grep "^[0-9]\+\.[0-9]\+\.[0-9]\+$";
          then
            npm publish --access public
          elif git log -1 --pretty=%B | grep "^[0-9]\+\.[0-9]\+\.[0-9]\+";
          then
            npm publish --tag next --access public
          else
            echo "Not a release, skipping publish"
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
